form {
    display: flex;
    flex-direction: column;
    margin-left: 35rem;
    margin-right: 35rem;
    text-align: center;
    border-style: dotted;

}

.day {
    color: black;
    background: rgb(222, 174, 15);
    background: linear-gradient(90deg, rgba(222, 174, 15, 1) 11%, rgba(38, 227, 193, 1) 66%, rgba(0, 185, 255, 0.9080882352941176) 84%);
}

.night {
    color: white;
    background: rgb(144, 8, 1);
    background: linear-gradient(90deg, rgba(144, 8, 1, 1) 11%, rgba(38, 77, 227, 1) 34%, rgba(26, 39, 71, 0.9080882352941176) 79%);
}

#widget {
    display: inline-flex;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 1rem;
}
#wMain{
    display: inline-flex;
    justify-content: space-between;
    padding: 1rem;
    
}
#weatherPrew{
    border-radius: 20px;
}

#sun {
    background: rgb(34, 78, 195);
    background: linear-gradient(0deg, rgba(34, 78, 195, 1) 28%, rgba(73, 96, 144, 1) 41%, rgba(217, 66, 66, 1) 61%, rgba(253, 187, 45, 1) 85%);
    display: inline-flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 1rem;
}


body {

    display: flex;
    flex-direction: column;

    background: palegreen;
}
.data{
    display: grid;
}